In [1]:
a = "pw skills"
print(type(a))

<class 'str'>

In [3]:
b = 22.99
c = float(b)
type(c)

float

In [4]:
li1 = [1,2,"physics","wallah"]
type(li1)

list

In [5]:
tup=(1,2,3,4)
type(tup)

tuple

In [ ]:
'''Q2 
1.string datatype
2.error
3.list datatype
4.string datatype

In [20]:
#Q3
4/2 # it will return the value with in floating variables.

2.0

In [11]:
4%2 # it will return the remainder while dividing two variables.

0

In [21]:
3//2 # it will divide and return the answer in nearest whole integers

1

In [13]:
4**2 # it will give the square of a given no.

16

In [18]:
l1 = [1,2,"sidd",[3,4,5],"s",(6,7,8),22.7,90,30,"pw skilld"]
for i in range(0,len(l1)):
    c = l1[i]
    #print(l1[i])
    print(c)
    print(type(c))

1
<class 'int'>
2
<class 'int'>
sidd
<class 'str'>
[3, 4, 5]
<class 'list'>
s
<class 'str'>
(6, 7, 8)
<class 'tuple'>
22.7
<class 'float'>
90
<class 'int'>
30
<class 'int'>
pw skilld
<class 'str'>

In [22]:
#Q5 
a = int(input("enter 1st"))
b = int(input("enter 2nd"))
if (a%b == 0):
    c = a//b
    print(a ,"is divisible by", b ,in",c,"times")

enter 1st 10
enter 2nd 2

10 is divisible by b in 5 times

In [28]:
#Q6
l2=[]
for i in range(0,25):
    c = int(input("enter no."))
    if(c%3==0):
        l2.append(c)
print(l2)

enter no. 5
enter no. 4
enter no. 8
enter no. 9
enter no. 6

[9, 6]

In [29]:
#Q7
''' MUTABLE DATATYPE = These are the datatypes in which changes can be made and we can ressign the value and made the changes'''
l3=[1,2,3,4]
l3[-1] = "siddhant"
print(l3)

[1, 2, 3, 'siddhant']

In [ ]:
''' IMMUTBALE DATATYPE = These are the datatypes in which changes can't be made .for ex - string,tuple etc'''
tup1 = 9