In [1]:
import pandas as pd

In [3]:
list1 = [4,8,15,16,23,42]
list_1 = pd.Series(list1)

In [8]:
list_1

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [7]:
type(list_1)

pandas.core.series.Series

## Q2

In [9]:
a = [1,2,3,[4,5],"siddhant" , "datascience" , "pwskills",34.54,9,10]
l_a = pd.Series(a)

In [10]:
l_a

0              1
1              2
2              3
3         [4, 5]
4       siddhant
5    datascience
6       pwskills
7          34.54
8              9
9             10
dtype: object

In [11]:
type(l_a)

pandas.core.series.Series

## Q3

In [12]:
l2 = {'name' : ['alice' , 'bob' , 'claire'],
      'age' : [25,30,27],
      'gender' : ['female' , 'male' , 'female']
     }

In [25]:
l_2 = pd.DataFrame(l2)

In [23]:
l_2

     name  age  gender
0   alice   25  female
1     bob   30    male
2  claire   27  female

In [17]:
type(l_2)

pandas.core.frame.DataFrame

## Q4

A pandas series is a 1D array of data and can have multiple datatypes while dataframe is a 2D table which can have one or more column.
For data frame index can be optional while for series it has to be defined.
for ex - l_2 is a tabular form while l_1 is in the series form.

## Q5

common functions are head ,tail, read_csv, read_excel, read_html.

In [26]:
l_2.head

<bound method NDFrame.head of      name  age  gender
0   alice   25  female
1     bob   30    male
2  claire   27  female>

In [27]:
l_2.tail

<bound method NDFrame.tail of      name  age  gender
0   alice   25  female
1     bob   30    male
2  claire   27  female>

## Q6

All Pandas data structures are value mutable (can be changed) and except Series all are size mutable. Series is size immutable

## Q7

In [28]:
courses = pd.Series(["datascience" ,"web dev" , "java dsa"])
fees = pd.Series([3500,3000,4000])
discount = pd.Series([500 ,0 ,1000])

In [ ]:
pd.concat([course])